.container{
    background-color: rgb(90, 222, 60);
    border: 2px solid pink;
    border-radius: 15px;
    height: 250px;
    width: 200px;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}