body {
	background: rgb(35, 45, 70);
}

.container {
	height: 500px;
	width: 700px;
	border-radius: 15px;
	padding: 15px;
	background: palegreen;
	border: 4px dotted black;
}

h1 {
	text-align: center;
}

